@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans:wght@400;500;800;900&family=Victor+Mono:wght@400;700&display=swap');
.palette {
    color: #13141E;
    color: #171826;
    color: #242539;
    color: #3C3E51;
    color: #6F728B;
    color: #2D80E7;
}
html {
    width: 100%;
    height: 100%;
    font-family: 'Bree Serif', serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

*::-webkit-scrollbar {
    display: none;
}